@use '../utilities/variables' as variables;
@use '../utilities/mixins' as *;

.button {
    display: inline-block;
    background-color: variables.$color-boton;
    color: variables.$color-blanco;
    padding: 12px 24px;
    font-family: variables.$fuente-secundaria;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: variables.$color-hover;
    }
}

.button:active {
    transform: scale(0.95);
}