@use '../utilities/variables' as variables;

.contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: variables.$color-primario; 
    border-radius: 10px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    label {
    margin-top: 10px;
    color: variables.$color-blanco; 
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-start;
    }

    input,
    textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;

    &:focus {
      outline: 2px solid variables.$color-secundario;
    }
    }

    textarea {
    resize: vertical;
    min-height: 80px;
    }

    button {
    background-color: variables.$color-boton; 
    color: variables.$color-blanco;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$color-hover; 
    }
}
}