@use '../utilities/variables' as variables;
@use '../utilities/mixins' as *;

footer {
    background-color: variables.$color-footer;
    color: variables.$color-blanco;
    text-align: center;
    padding: variables.$espaciado;

    p {
    margin: 0;
    font-size: variables.$titulo-sm;
    }
}