@use "../utilities/variables" as variables;
@use "../utilities/mixins" as *;
@use "../components/botones" ;

header.masterhead {
    height: 100vh;
    position: relative;
    background-image: url('../img/fondo.webp');
    background-size: cover;
    background-position: center;
    color: variables.$color-claro;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
    text-align: center;
    }

    .intro-text {
    text-align: center;

    h1.intro-lead-in {
        font-size: variables.$titulo-xl;
        font-family: variables.$fuente-titulos;
        color: variables.$color-blanco;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
    }

    h3.intro-heading {
        font-size: variables.$titulo-md;
        font-family: variables.$fuente-principal;
        color: variables.$color-blanco;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
    }

    .masterhead-button {
        @extend .button;  
    }
    }

    @include responsive(mobile) {
    .intro-text {
        h1.intro-lead-in {
        font-size: variables.$titulo-lg;
        }

        h3.intro-heading {
        font-size: variables.$titulo-sm;
        }
    }
    }
}