$color-fondo: #134074;
$color-secundario: #0e3a6e;
$color-hover: #00AAE4;
$color-texto:  #ffffff;
$color-card:  #ffffff;
$color-form-bg: #0f3d5c;
$color-footer: #13315c;
$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;
$font-destacada: 'waffle soft', serif;